<h1>Editing add</h1>

<%= render "form", add: @add %>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= link_to "Cancelar", @add, class: "btn btn-primary" %>
    </div>
  </div>
</div>
