th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc {
  background-image: url(sort-down.svg);
}

th .desc {
  background-image: url(sort-down-alt.svg);
}
